body {
    background-color: black;
}
.no-bullet {
    list-style-type: none;
    list-style: none;
    margin: 15px;
    color: white;
}

.card {
    margin-left: 290px;
    border: none;
    margin-top: 90px;
    color: white;
}

.card-title {
    margin-top: 150px;
    color: white;
}

.experience-filter .nav-item {
    flex-shrink: 0;
    margin-left: 6px;
}

.experience-filter .nav-item a {
    font-size: .8rem;
    color: white;
}


.experience .img-card {
  background-image: url(https://picsum.photos/400/400);
  /* image from https://picsum.photos/, random photos are genereted each time */
  padding-top: calc(4.5 / 4 * 100%);
  /* portrait aspect ratio */
  background-size: cover;
  background-position: center;
}

.card-sub-head {
    margin-left: 60px;
    margin-top: 50px;
    margin-bottom: 30px;
    color: white;
}
.card-sub {
    margin-left: 60px;
    margin-top: 50px;
    margin-bottom: 30px;
    color: white;
}

.navbar a {
    color:black;
    text-decoration: none;
    color: white;
}

.nav-item a {
    color: white;
}

.footer-header {
    color: white;
    margin-left: -10px;
    margin-bottom: 5px;
}

.footer-header-content {
    color: white;
    margin-left: -10px;
    margin-bottom: 5px;

}

.footer-middle-title {
    margin-left: 120px;
    color: white;
    margin-bottom: 5px;

}

.footer-middle-content {
    margin-left: 120px;
    color: white;
    margin-bottom: 5px;
}

.footer-lower-title {
    margin-left: 250px;
    color: white;
    margin-bottom: 5px;
}

.footer-lower-content {
    margin-left: 250px;
    color: white;
    margin-bottom: 5px;

}

.my-2 {
color: white;
}

.card-body {
    background-color: black;
}

.card {
    background-color: black;
}

.dropdown-menu {
    background-color: black;
}

.text-box {
    color: white;
}
